@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body,
html {
  height: 100%;
}

.background {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}


.login-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 40px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1s ease-out;
}

.login-box h2 {
  color: #fff;
  margin-bottom: 30px;
}

.input-field {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.input-field:hover {
  background: rgba(255, 255, 255, 0.25);
}

.input-field span {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}

.input-field input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  flex: 1;
}

input::placeholder {
  color: #ddd;
}

button {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #4a00e0;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #e0e0e0;
}

.links {
  margin-top: 20px;
  font-size: 14px;
  color: #eee;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}